<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Youtube Channel Analytics</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
</head>
<body bgcolor = "#c4302b">

<br><br<br><br><br><br>
<h1><font color = "white" face = "Heebo" size = "20"><center>{{cn}}</center></font></h1><center><img src = {{cp}} border = "6" style="border-color: white"></center>
<center><p style="margin:50px;"><font color = "white" face = "Heebo">"{{cb}}"</font></p></center>
<h2><font color = "white" face = "Heebo"><center>{{cs}} Subscribers</center></font></h2>
<h2><font color = "white" face = "Heebo"><center>{{cvw}} Total Views</center></font></h2>
<h2><font color = "white" face = "Heebo"><center>{{cav}} Average Views per Video</center></font></h2>
<h2><font color = "white" face = "Heebo"><center>{{cvd}} Uploads</center></font></h2>
<h2><font color = "white" face = "Heebo"><center>Created On {{cd}} At {{ct}}</center></font></h2>
<h2><font color = "white" face = "Heebo"><center>This Channel Is {{cay}} year(s), {{cam}} months, and {{cad}} days old</center></font></h2>
<h2><font color = "white" face = "Heebo"><center>Subscribers To Views Grade: <font color = {{cgc}}>{{cg}}</font></center></font></h2>
<center><p><font color = "white" face = "Heebo" size = "-2">The Subscribers to Views Grade is based off of Youtube's recommended 14% ratio for Subscribers:Views. A poor grade means a channel has an inactive community. </font></p></center>
<center><p><font color = "white" face = "Heebo" size = "+1">"Youtube Channel Analyzer" made by Somesh Karthi</font></p></center>
<br>
</body>
</html>